@using PianoStoreProject.Repositories
@inject IUsersRepository UserProvider
@inject IContactRepository ContactProvider
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="~/favicon.ico" />
	<link rel="icon" type="image/png" href="~/favicon.ico" />
	<link href="~/favicon.ico" rel="apple-touch-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>@ViewData["Title"] - FROST SOUNDS </title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<!-- CSS Files -->
	<link href="~/dashboard/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/dashboard/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
	<link href="~/dashboard/assets/css/jquery.toast.css" rel="stylesheet" />

	<link href="~/dashboard/assets/sumoselect/sumoselect.css" rel="stylesheet" />
	<link href="~/dashboard/assets/summernote/summernote-bs4.css" rel="stylesheet" />
	<link href="~/dashboard/assets/confirm/jquery-confirm.css" rel="stylesheet" />
	<link href="~/dashboard/assets/css/jquery-ui.css" rel="stylesheet" />
	<link href="~/assets/Plugins/dropify/dist/css/dropify.min.css" rel="stylesheet" />
	<link href="~/assets/Plugins/datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="~/css/components.css" rel="stylesheet" />
	<!--   Core JS Files   -->
	<script src="~/dashboard/assets/js/core/jquery.min.js"></script>
	<script src="~/js/jquery.validate.unobtrusive.js"></script>
	<script src="~/dashboard/assets/js/core/popper.min.js"></script>
	<script src="~/dashboard/assets/js/core/bootstrap.min.js"></script>
	<script src="~/dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<script src="~/dashboard/assets/js/plugins/moment.min.js"></script>
	<!--  Plugin for Sweet Alert -->
	<script src="~/dashboard/assets/js/plugins/sweetalert2.min.js"></script>
	<script src="~/dashboard/assets/bootstrap-datepicker/moment.js"></script>
	<script src="~/assets/Plugins/datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="~/dashboard/assets/sumoselect/jquery.sumoselect.js"></script>
	<script src="~/dashboard/assets/summernote/summernote-bs4.js"></script>
	<script src="~/dashboard/assets/confirm/jquery-confirm.js"></script>
	<script src="~/Plugins/Base.js"></script>
</head>
<body class="">
	<div class="wrapper ">
		<div class="sidebar" data-color="brown" data-active-color="danger">
			<!--
				Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
			-->
			<div class="logo">
				<a href="/Home/Index" class="simple-text logo-mini">
					<div class="logo-image-small">
						<img src="~/images/frost-logo-icon.png" />
					</div>
				</a>
				<a href="/Home/Index" class="simple-text logo-normal">
					<div class="logo-image-big">
						<img src="~/images/frost-logo.png" width="60%" />
					</div>
				</a>
			</div>
			<div class="sidebar-wrapper">
				<div class="user">
					<div class="photo">
						<img src="@UserProvider.GetUserProfileImage(User.Identity.Name)" />
					</div>
					<div class="info">
						<a data-toggle="collapse" href="#collapseExample" class="collapsed">
							<span>
								@UserProvider.GetUserFullName(User.Identity.Name)
								<b class="caret"></b>
							</span>
						</a>
						<div class="clearfix"></div>
						<div class="collapse" id="collapseExample">
							<ul class="nav">
								<li>
									<a href="/Account/profile">
										<span class="sidebar-mini-icon">MP</span>
										<span class="sidebar-normal">My Profile</span>
									</a>
								</li>
								<li>
									<a asp-area="Identity" asp-page="/Account/Manage/Index">
										<span class="sidebar-mini-icon">S</span>
										<span class="sidebar-normal">Settings</span>
									</a>
								</li>
								<li>
									<a href="javascript:document.getElementById('logoutForm').submit()">
										<span class="sidebar-mini-icon">L</span>
										<span class="sidebar-normal">Logout</span>
										<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></form>
									</a>
							</ul>
						</div>
					</div>
				</div>
				<ul class="nav">
					<li>
						<a href="/Manage/Dashboard">
							<i class="nc-icon nc-bank"></i>
							<p>Dashboard</p>
						</a>
					</li>
					<li>
						<a href="/Manage/Emails">
							<i class="nc-icon nc-email-85"></i>
							<p>
								Emails
								<span class="badge badge-light pull-right mt-1">@ContactProvider.TotalUnreadEmails()</span>
							</p>
						</a>
					</li>

					<li>
						<a href="/Product">
							<i class="nc-icon nc-app"></i>
							<p>
								Product
							</p>
						</a>
					</li>
					<li>
						<a data-toggle="collapse" href="#orders" class="collapsed" aria-expanded="false">
							<i class="nc-icon nc-layout-11"></i>
							<p>
								Orders
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="orders" style="">
							<ul class="nav">
								<li>
									<a href="/Orders/New">
										<span class="sidebar-mini-icon">N</span>
										<span class="sidebar-normal"> New Orders </span>
									</a>
								</li>
								<li>
									<a href="/Orders/Delivered">
										<span class="sidebar-mini-icon">P</span>
										<span class="sidebar-normal"> Processed </span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a data-toggle="collapse" href="#mapsExamples" class="collapsed" aria-expanded="false">
							<i class="nc-icon nc-settings-gear-65"></i>
							<p>
								Manage
								<b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="mapsExamples" style="">
							<ul class="nav">
								<li>
									<a href="/Manage/Categories">
										<span class="sidebar-mini-icon">C</span>
										<span class="sidebar-normal"> Category </span>
									</a>
								</li>
								<li>
									<a href="/Manage/Mails">
										<span class="sidebar-mini-icon">M</span>
										<span class="sidebar-normal"> Mails </span>
									</a>
								</li>
								<li>
									<a href="/Manage/Notifications">
										<span class="sidebar-mini-icon">N</span>
										<span class="sidebar-normal"> News Feed </span>
									</a>
								</li>
								<li>
									<a href="/Manage/Users">
										<span class="sidebar-mini-icon">U</span>
										<span class="sidebar-normal"> Users </span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-minimize">
							<button id="minimizeSidebar" class="btn btn-icon btn-round">
								<i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
								<i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
							</button>
						</div>
						<div class="navbar-toggle">
							<button type="button" class="navbar-toggler">
								<span class="navbar-toggler-bar bar1"></span>
								<span class="navbar-toggler-bar bar2"></span>
								<span class="navbar-toggler-bar bar3"></span>
							</button>
						</div>
						<a class="navbar-brand" href="/Home/Dashboard">
							FROST SOUNDS
						</a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar navbar-kebab"></span>
						<span class="navbar-toggler-bar navbar-kebab"></span>
						<span class="navbar-toggler-bar navbar-kebab"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navigation">
						<form>
							<div class="input-group no-border">
								<input type="text" value="" class="form-control" placeholder="Search...">
								<div class="input-group-append">
									<div class="input-group-text">
										<i class="nc-icon nc-zoom-split"></i>
									</div>
								</div>
							</div>
						</form>
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link btn-magnify" href="#pablo">
									<i class="nc-icon nc-layout-11"></i>
									<p>
										<span class="d-lg-none d-md-block">Stats</span>
									</p>
								</a>
							</li>
							<li class="nav-item btn-rotate dropdown">
								<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="nc-icon nc-bell-55"></i>
									<p>
										<span class="d-lg-none d-md-block">Some Actions</span>
									</p>
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link btn-rotate" href="#pablo">
									<i class="nc-icon nc-settings-gear-65"></i>
									<p>
										<span class="d-lg-none d-md-block">Account</span>
									</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<!-- <div class="panel-header panel-header-sm">


			</div> -->
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						@*<partial name="_CookieConsentPartial" />*@
						@RenderBody()
					</div>
				</div>
			</div>
			<footer class="footer footer-black  footer-white ">
				<div class="container-fluid">
					<div class="row">
						<nav class="footer-nav">
							<ul>
								<li>
									<a href="/Home/Index" target="_blank"> FROST SOUNDS</a>
								</li>
							</ul>
						</nav>
						<div class="credits ml-auto">
							<span class="copyright">
								©
								<script>
									document.write(new Date().getFullYear())
								</script> FROST SOUNDS
							</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script src="~/dashboard/assets/js/plugins/bootstrap-switch.js"></script>
	<!-- Forms Validations Plugin -->
	<script src="~/dashboard/assets/js/plugins/jquery.validate.min.js"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script src="~/dashboard/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script src="~/dashboard/assets/js/plugins/bootstrap-selectpicker.js"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script src="~/dashboard/assets/js/plugins/bootstrap-datetimepicker.js"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script src="~/dashboard/assets/js/plugins/jquery.dataTables.min.js"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script src="~/dashboard/assets/js/plugins/bootstrap-tagsinput.js"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script src="~/dashboard/assets/js/plugins/jasny-bootstrap.min.js"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script src="~/dashboard/assets/js/plugins/fullcalendar.min.js"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script src="~/dashboard/assets/js/plugins/jquery-jvectormap.js"></script>
	<!--  Plugin for the Dropify -->
	<script src="~/assets/Plugins/dropify/dist/js/dropify.min.js"></script>
	<script src="~/assets/js/jquery-ui.min.js"></script>
	<!--  Plugin for the Bootstrap Table -->
	<script src="~/dashboard/assets/js/plugins/nouislider.min.js"></script>
	<!-- Chart JS -->
	<script src="~/dashboard/assets/js/plugins/chartjs.min.js"></script>
	<!--  Notifications Plugin    -->
	<script src="~/dashboard/assets/js/plugins/bootstrap-notify.js"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="~/dashboard/assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
	<script src="~/dashboard/assets/js/plugins/toastr.js"></script>
	<script src="~/dashboard/assets/js/plugins/jquery.toast.js"></script>
	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="~/dashboard/assets/demo/demo.js"></script>
	<script src="~/js/jquery.blockui.min.js"></script>
	<script src="~/js/app.js"></script>
	<script src="~/js/ui-blockui.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>